body{
    margin:0;
    font-family:Arial, sans-serif;
    text-align:center;
}

#inicio{
    background-image:url("imagens/fundo.jpg");
    background-size:cover;
    background-position:center;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.container{
    margin-top:40px;
}

#imagem{
    width:300px;
    margin-bottom:20px;
}

.botoes{
    display:flex;
    justify-content:center;
    gap:20px;
}

button{
    padding:12px 25px;
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

.carta{
    background:#fff8f5;
    padding:30px;
}

.foto{
    width:300px;
    border-radius:10px;
}